<div class="content clearfix">
  <div class="content__left">
    <div class="content__left__top">
      <p class="content__left__top__username"><b>username</b></p>
      <div class="content__left__top__left">
        <i class="fa fa-pencil-square-o fa-2x set" aria-hidden="true"></i>
        <i class="fa fa-cog fa-2x set" aria-hidden="true"></i>
      </div>
    </div>
    <div class="content__left__buttom">
      <div class="content__left__buttom__element">
        <p class="content__left__buttom__element__groupname">groupname</p>
        <p class="content__left__buttom__element__message">message</p>
      </div>
      <div class="content__left__buttom__element">
        <p class="content__left__buttom__element__groupname">groupname</p>
        <p class="content__left__buttom__element__message">message</p>
      </div>
    </div>
  </div>
  <div class="content__right">
    <div class="content__right__top">
      <div class="content__right__top__left">
        <p class="content__right__top__left__groupname">sample</p>
        <p class="content__right__top__left__member">members:kohei</p>
      </div>
        <div class="content__right__top__right">
          <span class="content__right__top__right__edit">edit</span>
        </div>
    </div>
    <div class="content__right__middle">
      <div class="content__right__middle__element">
        <p class="content__right__middle__element__username">kohei</p>
        <p class="content__right__middle__element__message">こんにちは</p>
      </div>
      <div class="content__right__middle__element">
        <p class="content__right__middle__element__username">kohei</p>
        <p class="content__right__middle__element__message">こんにちは</p>
      </div>
    </div>
    <div class="content__right__bottom">
      <textarea class="content__right__bottom__textarea" placeholder="type a message"></textarea>
      <i class="fa fa-picture-o fa-2x picture" aria-hidden="true"></i>
      <input class="content__right__bottom__submit" type="submit" name="submit" value="Submit">
    </div>
  </div>
</div>
